*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html{
    font-size: 62.5;
}
body{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
     
}
:root{
    --primary-color: #30B868;
    --title-color:#001931;
    --para-color: rgba(255, 255, 255, 1);;
    --para2-color:color: var(--#627382, rgba(98, 115, 130, 1));  
    --white-color:#FFFFFF;
    --button-color:rgba(249, 85, 85, 1);
    --menu-color:var(--#000000, rgba(0, 0, 0, 1));
}

.container{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}
 
 header{
    padding: 1.6rem 0;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   width: 160px;
}
.menu{
    display: flex;
    gap: 1rem;
}
.menu li a{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--menu-color);
}
.btn{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition:1s ease-in-out ;
}
.btn3{
     font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px;
      border-radius: 5px;
    background-color: #ffffff00;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    margin-left: 10px;
}
.btn3:hover{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition:.8s ease-in-out ;
}
#bannar{
    background: url(images/hero-bg.png);
    padding: 300px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
}
.bannar-section{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center  ;
}
.btn2{
    padding: 10px 8px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.btn2 i .fa-solid{
    color: #30B868;
}
.title h1{
    color: var(--white-color);
    font-size: 5rem;
    margin: 1.5rem 0;
}
span{
    color: var(--primary-color);
}
p{
    color: var(--para-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.card-container{
    padding: 36px 0 50px;
}
.text{
    text-align: center;
    margin:20px 0 50px ;
}
.text h1{
    color: var(--title-color);
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.text p{
    color: var(--para2-color);
    font-size: 1rem;
}
/* card */
 .card-box .card1 img{
    background-color: var(--button-color);
    padding: 10px;
    border-radius: 25px;
}
 .card-box .card1 h2{
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
}
 .card-box .card1 p{
    color: var(--para2-color);
    font-size: .8rem;
    font-weight: 400;
}
.card-box .card1{
  text-align: center;
   
  padding: 10px;
  margin: 30px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

}
.card-box{
    display: flex;
    gap: 15px;
}